[package]
name = "monzo-lib"
version = "0.4.4"
authors = ["Daniel Eades <danieleades@hotmail.com>"]
edition = "2021"
description = "async Monzo client in pure rust."
readme = "README.md"
keywords = ["monzo", "mondo", "async", "client"]
categories = ["api-bindings", "asynchronous"]
homepage = "https://github.com/danieleades/monzo-lib"
repository = "https://github.com/danieleades/monzo-lib"
license = "Apache-2.0"

[lib]
name = "monzo"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
reqwest = { version = "0.11.6", features = ["json"] }
chrono = { version = "0.4.19", features = ["serde"] }
serde = { version = "1.0.130", features = ["derive"] }
rand = "0.8.4"
serde_json = "1.0.68"
async-trait = "0.1.51"
erased-serde = "0.3.16"
thiserror = "1.0.30"
tracing = "0.1.29"

[dev-dependencies]
clap = { version = "4.0.2", features = ["derive", "env"] }
doc-comment = "0.3.3"
tokio = { version = "1.12.0", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.29"
