[package]
name = "monzo-lib"
version = "0.3.0-alpha"
authors = ["Daniel Eades <danieleades@hotmail.com>"]
edition = "2018"
description = "async Monzo client in pure rust."
readme = "README.md"
keywords = ["monzo", "mondo", "async", "client"]
homepage = "https://github.com/danieleades/monzo-lib"
repository = "https://github.com/danieleades/monzo-lib"
license = "Apache-2.0"

[lib]
name = "monzo"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
reqwest = { version = "0.11.4", features = ["json", "stream"], optional=true }
chrono = { version = "0.4.19", features = ["serde"] }
serde = { version = "1.0.125", features = ["derive"] }
rand = "0.8.3"
serde_json = "1.0.64"
async-trait = "0.1.50"
http = "0.2.4"
erased-serde = "0.3.15"
thiserror = "1.0.25"

[features]
default = ["reqwest"]

[dev-dependencies]
clap = "3.0.0-beta.2"
tokio = { version = "1.5.0", features = ["macros", "rt-multi-thread"] }
